<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            background-color: darkseagreen;
          
        }
    </style>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone"><br><br>
        <label for="senha">Password:</label>
        <input type="password" id="senha" name="senha"><br><br>
        <input type="submit" value="Login">
    </form>
    <p>Não tem uma conta? <a href="/cadastro">Cadastre-se aqui</a>.</p>
</body>
</html>
